---
/**
 * Embla carousel library installed from npm through ../scripts/embla-carousel.js
 */

import { Image } from 'astro:assets';
import '../styles/carousels.css';

interface Props {
  images: {
    src: ImageMetadata;
    alt: string;
  }[];
}

const { images } = Astro.props;
---

<div class="embla" aria-roledescription="carousel" aria-label="Gallery">
  <div class="embla__viewport">
    <div class="embla__container">
      {
        images.map((img, index) => (
          <div
            class="embla__slide"
            role="group"
            aria-roledescription="slide"
            aria-label={`${index + 1} of ${images.length}`}
          >
            <Image
              src={img.src}
              alt={img.alt}
              class="embla__img"
              widths={[400, 800, 1200]}
              sizes="(max-width: 768px) 100vw, 50vw"
            />
          </div>
        ))
      }
    </div>
  </div>

  <div class="embla__controls">
    <div class="embla__nav-btns-container">
      <button class="embla__prev" aria-label="Previous slide">&#706;</button>
      <button class="embla__next" aria-label="Next slide">&#707;</button>
    </div>

    <div
      class="embla__dots"
      role="tablist"
      aria-label="Select slide to display"
    >
    </div>
    <template class="embla-dot-template">
      <button
        class="embla__dot"
        role="tab"
        aria-selected="false"
        aria-label="Go to slide {{INDEX}}"
        tabindex="-1"
      >
      </button>
    </template>
  </div>
</div>

<style>
  .embla {
    /* Format sizes for specific carousel or leave fallback from src/styles/carousels.css */
    --slide-size: 50%;
    --slide-size-mobile: 100%; /* Mobile (max-width: 768px) */
  }
</style>

<script>
  import '../scripts/embla-carousel.js';
</script>

<!-- Example of use:

---
import Carousel-imgs from '../components/CarouselImgs.astro';
import image1 from '../assets/hero-1.jpg';
import image2 from '../assets/hero-2.jpg';

const gallery = [
  { src: image1, alt: "Description of first image" },
  { src: image2, alt: "Description of second image" },
];
---

<CarouselImgs images={gallery} />
-->
